:root {
  --bg: #f3f3f3;
  --text: #6c6258;
  --blue: #2f6fff;
  --accent: #e0a800;

  /* spacing system */
  --top-margin: 20px;
  --left-margin: 20px;

  --meta-gap: 60px;

  --content-top: 50px;
  --content-left: 50px;
  --content-right: 50px;

  --meta-font: 13px;
  --poem-name-font: 14px;
  --content-font: 18px;
}

/* BASE */
body {
  margin: 0;
  background: var(--bg);
  font-family: 'Courier New', Courier, monospace;
  margin:0 ;
}

/* PAGE */
.page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* =========================
   TOP META（横排）
========================= */

.top-meta {
  position: absolute;
  top: var(--top-margin);
  left: 50%;

  transform: translateX(-50%);

  display: flex;
  gap: var(--meta-gap);

  font-size: var(--meta-font);
  color: var(--text);
}

/* =========================
   LEFT POEM NAME
========================= */

.poem-name {
  position: absolute;
  left: var(--left-margin);
  top: 50%;
  transform: translateY(-50%) rotate(180deg);

  writing-mode: vertical-rl;
  text-orientation: mixed;

  color: var(--blue);
  font-size: var(--poem-name-font);
  white-space: nowrap;
}

/* =========================
   CONTENT
========================= */

.content {
  position: absolute;
  top: var(--content-top);
  left: var(--content-left);
  right: var(--content-right);

  font-size: var(--content-font);
  color: var(--accent);
  line-height: 1.6;
}